body {
	background: #9DA0B1;
	font-family: "Segoe UI";
}

h1 {
	font-weight: 300;
}

.jumbotron {
    background: #ECECEC;
}

.container-fluid {
    background-color: #22315D;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #101830;
}

.navbar-inverse {
    background-color: #22315D;
    border-color: #080808;
}

ul {
	list-style: none;
	font-size: 12pt;
	line-height: 2em;
	padding: 0;
}

p, .jumbotron p {
	font-size: 12pt;
	font-weight: 400;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
